body{
    background-image: url("/static/img/bg5.jpg");
    background-repeat: no-repeat;
    background-size: 100%,100%;
    background-attachment: fixed;
}

/*.main{*/
    /*background: #ffffff;*/
    /*width: 930px;*/
    /*margin: 100px auto;*/
    /*overflow: hidden;*/
    /*padding: 10px;*/
/*}*/

.page-title{
    text-align: center;
}

.form-container{
    width: 300px;
    margin: 0 auto;
}

.logo{

}

.main-index{
    /*width: 1430px;*/
    margin: 50px auto;
    overflow: hidden;
    padding: 10px;
}